.list-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

@media (min-width: 500px) {
    .list-items {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 700px) {
    .list-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}